/* ==========================================================================
   Reset styles
   ========================================================================== */
/* Width classes */
.max-width-1024 {
	max-width: 1024px;
}
.max-width-1140 {
	max-width: 1140px;
}
.max-width-class {
	max-width: 1200px;
}

/* Margins */
.margin-top-10 {
	margin-top: 10px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-bottom-40 {
	margin-bottom: 40px;
}
.margin-top-5 {
	margin-top: 5px;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-lr-5 {
	margin-left: 5px;
	margin-right: 5px;
}
.margin-left-5 {
	margin-left: 5px;
}
.margin-right-5 {
	margin-right: 5px;
}
.margin-left-10 {
	margin-left: 10px;
}
.margin-right-10 {
	margin-right: 10px;
}
.margin-auto {
	margin-left: auto;
	margin-right: auto;
}
.no-margin {
	margin: 0;
}

/* Paddings */
.padding-10 {
	padding: 10px;
}
.padding-5 {
	padding: 5px;
}

/* Display-inline */
.display-inline {
	display: inline-block;
}
.display {
	display: inline;
}

/* Font colors */
.reg-color {
	color: #444;
}
.reg-color-dark {
	color: #222;
}
.reg-color-light {
	color: #666;
}
.reg-color-lighter {
	color: #888;
}
.txt-color-white {
	color: #fff;
}
.txt-color-red {
	color: #ea3b3b;
}
.txt-color-orange {
	color: #FFAD90;
}

/* Font sizes */
.regular-10 {
	font-size: 10px;
	font-weight: 400;
}
.regular-11 {
	font-size: 11px;
	font-weight: 400;
}
.regular-12 {
	font-size: 12px;
	font-weight: 400;
}
.regular-14 {
	font-size: 14px;
	font-weight: 400;
}
.regular-18 {
	font-size: 18px;
	font-weight: 400;
}
.regular-20 {
	font-size: 20px;
	font-weight: 400;
}
.regular-24 {
	font-size: 24px;
	font-weight: 400;
}
.semibold-10 {
	font-size: 10px;
	font-weight: 600;
}
.semibold-11 {
	font-size: 11px;
	font-weight: 600;
}
.semibold-12 {
	font-size: 12px;
	font-weight: 600;
}
.semibold-14 {
	font-size: 14px;
	font-weight: 600;
}

/* width */
.width-130 {
	width: 130px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Text transforms */
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}

/* Text align */
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

/* Positions */
.relative {
	position: relative;
}
.bottom-left {
	position: absolute;
	bottom: 5px;
	left: 15px;
}

/* Round avatars */
.circle {
	border-radius: 50%;
}
.ava {
	display: block;
	width: 100%;
	max-width: 90px;
	max-height: 90px;

	overflow: hidden;
}
.ava > a {
	display: block;
	width: 100%;
	height: 100%;
}
.ava > a > img {
	max-width: 100%;
}

/* Headers styles */
h3 {
	font-size: 18px;
	font-weight: 400;
}

.pagination {
	width: 100%;
	height: 42px;
	font-size: 14px;
	border: none;
	background: #f1f4f7;

	text-align: center;
}
.pagination > li {
	display: inline-block;
	float: none;
	border: none;
}
.pagination > li > a {
	padding: .8em 1em;
	border: none;
	background: none;
	color: #444;
}
.pagination > li > a:hover {
	background: #6f7e8e;
	color: #fff;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
	color: #444;
}
a:hover {
	color: #222;
}
.orange-link:hover {
	color: #FFAD90;
	text-decoration: underline;
}
body {
	font: 100% 'Open Sans', sans-serif;
}
header {
	padding: 10px 0 0;
	background: #f4f5f7;
}
.nav-list {
	min-height: 50px;
	margin: 0 auto;
}
.nav-item {
	display: inline-block;
	width: 10%;
	height: 50px;
	line-height: 50px;

	color: #fff;
	font-size: 14px;
	font-weight: 400;
}
.nav-item > a {
	display: inline-block;
	width: 100%;
	height: 100%;

	color: #fff;
	text-decoration: none;
}
.nav-item > a:hover {
	background: #444; /* Fallback */
	background: rgba(255, 255, 255, .05);
}
.sub-nav {
	margin: 0 auto;
	height: 50px;
}
.sub-nav-item {
	display: inline-block;
	width: 14%;
	height: 100%;

	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}
.sub-nav-item > a {
	display: block;
	width: 100%;
	height: 50px;
	padding: 7px 0;

	text-decoration: none;
}
.sub-nav-item > a:hover {
	background: #eee; /* Fallback */
	background: rgba(0, 0, 0, .05);
}
.content {
	margin: 0 auto;
}
.aside-header {
	color: #ffad90;
	font-size: 18px;
}
.aside-item > a {
	display: block;
	margin: 2px 0;
	font-size: 12px;
}
.img-cont {
	display: block;
	width: 100%;
}
.img-cont > img {
	max-width: 128px;
}

.lots-list {
	overflow: auto;
	max-height: 444px;
}
.lots-desc {
	height: 128px;
}
.lots-item {
	height: 128px;
}

.new-head {
	height: 240px;
}
.new-capt {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 10px 5px;

	color: #fff;
	font-size: 14px;
	background: #444;
	background: rgba(0, 0, 0, .6);
}
.new-capt > a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}
.new-capt:hover {
	background: rgba(0, 0, 0, .25);
}
.new-capt > a:hover {
	color: #fff;
	text-decoration: none;
}
.video-item {
	height: 187px;
}
.video-screen {
	overflow: hidden;
	width: 208px;
	height: 120px;
}
.video-screen > img {
	width: 100%;
}
.book-pict {
	width: 100%;
}

.main-footer {
	margin: 0;
}
.footer-top-bar {
	height: 50px;
}
.footer-top-item {
	display: inline-block;
	width: 14%;
	height: 100%;

	vertical-align: top;
}
.copy {
	line-height: 50px;
}
.footer-top-item > a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 7px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.footer-top-item > a:hover {
	background: #eee;
	background: rgba(0, 0, 0, .05)
}
.social-item {
	display: inline-block;
	margin: 0 1em;
}
.social-item > a {
	display: block;	
	width: 40px;
	height: 40px;	
	border: 1px solid #888;

	line-height: 35px;
	color: #888;
	font-size: 18px;
	text-align: center;
	border-radius: 50%;
}
.social-item > a:hover {
	color: #628DB1;
	border-color: #628DB1;
}
.news-item a,
.artcl-item a {
	color: #428BCA;
}

/* Auct-catalog */

.special-offers {
	background: #2A2A2A;
}
.special-offers h2 {
	padding-top: 20px;
}
.offers-item {
	width: 19.5%;
}
.offers-item .ava {
	display: inline-block;
}
.offers-head a {
	color: #fff;
}

.price-filter {
	margin: 20px 0 0;
	padding: 20px 0 0;
	border-top: 1px solid #888;
}
.price-filter .form-control {
	margin: 10px 0 15px;
}
.pop-filters {
	padding: 0 0 14px;
	border-bottom: 1px solid #888;
}
.pop-filters .sort {
	display: inline-block;
	width: 30%;
	font-size: 14px;

	vertical-align: top
}
.pop-filters .pages {
	display: inline-block;
	width: 50%;
	font-size: 14px;

	vertical-align: top;
	text-align: center;
}
.pop-filters .form-control {
	display: inline-block;
	width: 130px;
	margin: 0 10px;

	vertical-align: middle;
}
.pop-filters .pages .form-control {
	width: 70px;
}
.item-ava {
	display: inline-block;
	float: left;
	width: 90px;
	height: 90px;
	margin: 0 1.5em 0 0;
}
.item-ava img {
	width: 100%;
	height: 100%;
}
.look-btns {
	display: inline-block;
	width: 20%;
	text-align: right;
}
.look-btn {
	width: 48px;
	height: 38px;

	font-size: 1.2em;
	border: 1px solid #aaa;
	border-radius: 4px;
}
.look-btn:hover {
	opacity: .85;
}
.pop-offers-item {
	padding: 21px;
	min-height: 132px;	
	border-radius: 15px;
}
.pop-offers-item:hover {
	background: #e5e9ee;
}
.pop-item-expires {
	position: relative;
	display: inline-block;
	font-size: 13px;
}
.pop-item-expires .status {
	width: 750px;
	position: absolute;
	left: 0;
	bottom: -15px;

	white-space: nowrap;
}
.pop-item-expires .status .line {
	float: left;
	margin: 0 2em 0 0;
}
.pop-item-expires .status strong {
	font-size: 13px;
}
.pop-item-expires .status .line.last {
	margin: 0;
}
.pop-item-expires a {
	display: block;
	margin: 0 0 60px;
	
	font-size: 16px;
	line-height: 1em;
	color: #009be3;
}
.pop-item-price {
	position: relative;
	float: right;
	height: 90px;
	padding: 0 0 0 4.5em;
	border-left: 1px solid #aaa;
	margin: 0 0 0 1.5em;
}
.pop-item-price:before {
	position: absolute;
	top: 3px;
	left: .75em;
	font-size: 2em;
	content: "ïº";
	font-family:'FontAwesome';
	color: #b0b6bd;
}


/* Transition classes */
.nav-item > a,
.new-capt,
.footer-top-item > a,
.social-item > a,
.pop-offers-item {
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
}












